* {
    font-family: Arial, Typewriter;
    border-width: 1px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    transition-duration: 1ms !important;
    animation: 0s ease 0s 1 normal none running none !important;
}

#ui, #ui-fixed {
    filter: saturate(0) !important;
}

button {
    color: black !important;
    text-decoration: none !important;
    background-image: linear-gradient(to top, rgb(222, 222, 222) 0%, rgb(246, 246, 246) 100%) !important;
    border: 0.1rem solid rgb(155, 155, 155) !important;
    border-radius: 0px !important;
    padding: 3px !important;
}

.o-primary-btn {
    color: black !important;
    text-decoration: none !important;
    background-image: linear-gradient(to top, rgb(222, 222, 222) 0%, rgb(246, 246, 246) 100%) !important;
    border: 0.1rem solid rgb(155, 155, 155) !important;
    border-radius: 0px !important;
    padding: 3px !important;
}

button:hover {
    border: 0.1rem solid rgb(115, 115, 115) !important;
}

.c-glyph-tooltip {
    filter: saturate(0);
    text-shadow: none !important;
}

.c-glyph-tooltip__effect span {
    text-shadow: none !important;
}
