.t-s10 #stars {
    display: block;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1000;
    transform: translate(-50%, -50%);
}

body.t-s10 {
    color: rgb(153, 153, 153);
    background: url("../images/stars-bg.png") center center / 100% black;
}

.t-s10 .c-tt-amount {
    color: rgb(100, 221, 23);
    text-shadow: rgb(100, 221, 23) 0px 0px 7px;
}

.t-s10 .c-tt-buy-button--unlocked {
    color: rgb(58, 172, 214);
    background: black;
    border: 0.1rem solid rgb(58, 172, 214);
}

.t-s10 .c-tt-buy-button--unlocked:hover {
    color: black;
    background: rgb(58, 172, 214);
}

.t-s10 .c-tt-buy-button--locked {
    color: grey;
    background: black;
    border: 0.1rem solid grey;
}

.t-s10 .c-tt-buy-button--locked:hover {
    color: black;
    background: var(--color-bad);
    border: 0.1rem solid var(--color-bad);
}

.t-s10 .c-rm-amount__desc {
    color: rgb(153, 153, 153);
}

.t-s10 .c-alchemy-resource-info {
    color: white;
    border-color: white;
}
